@model FastFoodWeb.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
}
<form asp-action="Register" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"
         style="color:#E24B4A;font-size:13px;margin-bottom:12px"></div>
    <div style="margin-bottom:14px">
        <label asp-for="Email"
               style="font-size:13px;font-weight:500;display:block;margin-bottom:6px"></label>
        <input asp-for="Email" class="form-control" placeholder="email@example.com" />
        <span asp-validation-for="Email"
              style="color:#E24B4A;font-size:12px"></span>
    </div>
    <div style="margin-bottom:14px">
        <label asp-for="Password"
               style="font-size:13px;font-weight:500;display:block;margin-bottom:6px"></label>
        <input asp-for="Password" class="form-control" placeholder="••••••" />
        <span asp-validation-for="Password"
              style="color:#E24B4A;font-size:12px"></span>
    </div>
    <div style="margin-bottom:20px">
        <label asp-for="ConfirmPassword"
               style="font-size:13px;font-weight:500;display:block;margin-bottom:6px"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="••••••" />
        <span asp-validation-for="ConfirmPassword"
              style="color:#E24B4A;font-size:12px"></span>
    </div>
    <button type="submit" class="btn-order"
            style="width:100%;justify-content:center">
        Đăng ký
    </button>
</form>

<div style="margin-top:20px;text-align:center;">
    <p style="font-size:14px;color:#666;margin-bottom:8px">
        Đã có tài khoản?
        <a asp-action="Login" asp-controller="Account"
           style="color:#D96A3B;text-decoration:none;font-weight:500">
            Đăng nhập tại đây
        </a>
    </p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
